<div class="container" *ngIf="!newGame; else new">
  <div class="content" *ngIf="card; else empty">
    <app-one-question *ngIf="!card.questionB" class="card-content" [card]="card"></app-one-question>
    <app-two-questions *ngIf="card.questionB" class="card-content" [card]="card"></app-two-questions>
    <button (click)="getCard()">Next Card</button>
  </div>
  <button *ngIf="card" class="restart-btn" (click)="newGame = true">New Game</button>
</div>

<ng-template #empty>
  The deck is empty. Please restart.
  <button (click)="newGame = true">Restart</button>
</ng-template>

<ng-template #new>
  <div>
    Ready to start?
    <form [formGroup]="form" (submit)="filterDecks(form.value)">
      <div *ngFor="let deck of deckControls.controls; let i=index">
        <input type="checkbox" [formControl]="deck" />
        {{ decks[i].name }}
      </div>
      <button type="submit">First Card</button>
    </form>
  </div>
</ng-template>