/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

@import './variables.scss';

html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  background-color: $color-background;
  color: $color-text;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  cursor: pointer;
  border: none;
  color: white;
  text-align: center;
  font-size: 1.3em;
  margin-bottom: 10px;
  border-radius: 4px;
  width: 10em;
  height: 2em;
  letter-spacing: 1px;
  touch-action: manipulation;

  &.btn-primary {
    @include primaryColor(true);
  }
  
  &.btn-secondary {
    @include primaryColor(false);
  }
}
