<ng-container *ngIf="!newGame; else new">
  <div *ngIf="card; else empty">
    <div>Deck: {{ card.deck }} </div>
    <div>
      A: {{ card.questionA }}
    </div>
    <div *ngIf="card.questionB">
      B: {{ card.questionB}}
    </div>
    <button (click)="getCard()">Next Card</button>
    <button (click)="newGame = true">New Game</button>
  </div>
</ng-container>

<ng-template #empty>
  The deck is empty. Please restart.
  <button (click)="newGame = true">Restart</button>
</ng-template>

<ng-template #new>
  Ready to start?
  <div>
    <form [formGroup]="form" (submit)="filterDecks(form.value)">
      <div *ngFor="let deck of deckControls.controls; let i=index">
        <input type="checkbox" [formControl]="deck" />
        {{ decks[i].name }}
      </div>
      <button type="submit">First Card</button>
    </form>
  </div>
</ng-template>