.center-div {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 90vh;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .content {
    flex-grow: 1;
  }
}