<div class="container" *ngIf="card; else empty">
  <div class="card">
      <app-one-question *ngIf="!card.questionB" class="card-content" [card]="card"></app-one-question>
      <app-two-questions *ngIf="card.questionB" class="card-content" [card]="card"></app-two-questions>
  </div>
  <div class="btn-group">
    <button class="btn btn-primary btn-primary" (click)="restart.emit()">New Game</button>
    <button *ngIf="card" class="btn btn-secondary" (click)="getCard()">Next Card</button>
  </div>
</div>

<ng-template #empty>
  <div class="text-empty">The deck is empty. <br /> Please restart.</div>
  <button class="btn btn-primary" (click)="restart.emit()">Restart</button>
</ng-template>